@using Northwind.Models
@model IEnumerable<Discount>

<ul class="list-group">
    @foreach (Discount d in Model)
    {
        <li class="list-group-item">
            <strong>@d.Title</strong> - @d.Description | <strong>Expires: @d.EndTime.ToString("MM/dd/yyyy") - Code: @d.Code </strong>
        </li>
    }
</ul>